:root
{

    --plomo:rgba(238, 229, 229, 0.192);
    --negro: rgb(54, 54, 54);
    --rojo: rgb(230, 13, 13);
    --azul:blue;
    --degradado:linear-gradient(200deg, var(--negro),var(--rojo));
    --degradado2:linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    --fondo-hover: #e3e3e3;
    --fondo-blanco: #fff;
	--fondo-gris-a: #efefef;
	--fondo-gris-b: #f5f5f5;
	--fuente-gris: #919191;
	--borde-gris: #cccccc;
	--fondo-hover: #e3e3e3;

	--fondo-blanco-MO: #000;
	--fondo-gris-a-MO: #efefef;
	--fondo-gris-b-MO: #f5f5f5;
	--fuente-gris-MO: #919191;
	--borde-gris-MO: #cccccc;
	--fondo-hover-MO: #e3e3e3;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* SCROLL INVICIBLE */

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track
{
    background: none;
}
::-webkit-scrollbar-thumb
{
    background: transparent;
    border-radius: 5px;
}
.barra-lateral:hover::-webkit-scrollbar-thumb
{
    background: #717171;
}
::-webkit-scrollbar-thumb:hover
{
    background: #888;
}

/* SCROLL INVICIBLE */

body
{
    background: black;
}

header
{
    top: 0;
    left: 0;
}

.contenedor-nav
{
    width: 100%;
    height: 100px;
    background-size: cover;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    border-bottom: 1px solid var(--plomo) ;
}

/* reducir logo calaverita en ilustrator */

.logo
{
    max-height: 30px;
}
ul
{
    display: flex;
    /* position: absolute;
    flex-direction: column; */
}

nav ul li
{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a
{
    color: white;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
}
nav ul li a:hover
{
    color: red;
}
nav ul li a:after
{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--borde-gris-MO);
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after
{
    width: 100%;
}

a
{
    text-decoration: none;
}


.buscador
{
    display: flex;
    width: 250px;
    height: 40px;
    background: white;
    border-radius: 30px;
    padding: 5px 5px;
    margin-left: 10px;
    position: relative;
    right: 40px;
}

.buscador i
{
    display: flex;
    align-items: center;
    line-height: 40px;
    font-size: 25px;
    color: black;
    margin-right: 50px;
}

.buscador input
{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 200px;
    font-weight: 500;
}

.botones
{
    position: relative;
    right: 40px ; 
}

.botones .boton1
{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 35px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ffffff;
    border: 1px solid white;
    background-image: url(../img/Pixel\ Art\ Aesthetic\ Chandigarh\ City.gif);
    background-size: 130px;
    background-repeat: no-repeat;
}
.boton1:hover
{
    background-image: url(..//img/pixel-goust-2.gif);
    background-size: 130px;
    background-repeat: no-repeat;
    border-color: white;
    color: white;
}

.boton2
{
    color: #e4dada;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #222121;
    border: 0.5px solid white; 
    margin: 0 45px 0 45px;
}
.boton2:hover
{
    background: transparent;
    border-color: white;
    color: white;
}

.contenido
{
    position: absolute;
    top: 35%;
    left: 8%;
}
.contenido .titulo
{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: var(--degradado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenido h1{
    color:  var(--fondo-blanco);
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.contenido h1 span
{
    color: var(--rojo);
}
.contenido p
{
    
    width: 55%;
    color: var(--fondo-blanco);
    margin-top: 25px;
    margin-bottom: 30px;
}

.contenido .btn
{
    position: relative;
    right: 5px ; 
}


.contenido  .btn .btn1
{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ffffff;
    border: 1px solid white;
    background: var(--fondo-blanco);
    background-size: 130px;
    background-repeat: no-repeat;
}
.contenido .btn .btn1:hover
{
    background: var(--negro);
    background-size: 130px;
    background-repeat: no-repeat;
    border-color: white;
    color: white;
}



.contenido  .btn .btn2
{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ffffff;
    border: 1px solid white;
    background: var(--fondo-blanco);
    background-size: 130px;
    background-repeat: no-repeat;
    margin:0 10px;
}
.contenido .btn .btn2:hover
{
    background: var(--negro);
    background-size: 130px;
    background-repeat: no-repeat;
    border-color: white;
    color: white;
}
.imagen
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen .titulo
{
    color: #1f1f25;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: var(--degradado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    border-radius: 500px;
    
}

.imagen img 
{
    margin-top:20px;
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
    filter: blur(10px);
    z-index: -1;
}

.capitulos
{
    width: 100%;
    height: 400px;
}

.capitulos .contenedor-capt
{
   margin-top: 150px;
}

.capitulos .contenedor-capt .titulo

{
    color: #1f1f25;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: var(--degradado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-left: 850px;
    padding-bottom: 50px;
}

.capitulos .contenedor-capt .cap-caja
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: center;
    grid-gap: 50px;
    justify-items: center;
    align-content: center;
    justify-content: space-around;
}

.capitulos .contenedor-capt .cap-caja .caja-t
{
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.capitulos .contenedor-capt .cap-caja .caja-t  img
{
    width: 300px;
    height: 200px;
    object-fit: cover; 
    border-radius: 20px;
}

.capitulos .contenedor-capt .cap-caja .caja-t:hover
{
    transform: translateY(-10px);
}

.capitulos .contenedor-capt .cap-caja .caja-t .letras
{
    display: flex;
    width: 150px;
    height: 40px;
    border-radius: 500px;
    background-color: white;
    opacity: 0.5 solid;
    position: absolute;
    justify-content: center;
    align-items: center;
    
}

.capitulos .contenedor-capt .cap-caja .caja-t .letras .vistas
{
    display: flex;
    color: #000;
    width: 150px;
    height: 20px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}

.footer
{
    margin-top: 500px;
    background: black;
    background-size: cover;
    background-position: center;
}


.footer .creditos
{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--plomo);
    border-top: .1rem solid var(--plomo);
    padding: .5rem 1rem;
    text-align: center;
}