
:root
{

    --plomo:rgba(238, 229, 229, 0.192);
    --negro: rgb(54, 54, 54);
    --rojo: rgb(230, 13, 13);
    --azul:blue;
    --degradado:linear-gradient(200deg, var(--negro),var(--rojo));
    --degradado2:linear-gradient(120deg, #1c99fe 20.69%, #7644ff 50.19%,#fd4766 79.69%);
    --degradado3: linear-gradient(90deg, var(--morado),var(--rojo),var(--amarillo));
    --fondo-hover: #e3e3e3;
    --fondo-blanco: #fff;
	--fondo-gris-a: #efefef;
	--fondo-gris-b: #f5f5f5;
	--fuente-gris: #919191;
	--borde-gris: #cccccc;
	--fondo-hover: #e3e3e3;

	--fondo-blanco-MO: #000;
	--fondo-gris-a-MO: #efefef;
	--fondo-gris-b-MO: #f5f5f5;
	--fuente-gris-MO: #919191;
	--borde-gris-MO: #cccccc;
	--fondo-hover-MO: #e3e3e3;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* SCROLL INVICIBLE */

::-webkit-scrollbar
{
    width: 0px;
}
::-webkit-scrollbar-track
{
    background: none;
}
::-webkit-scrollbar-thumb
{
    background: transparent;
    border-radius: 5px;
}
.barra-lateral:hover::-webkit-scrollbar-thumb
{
    background: #717171;
}
::-webkit-scrollbar-thumb:hover
{
    background: #888;
}

/* SCROLL INVICIBLE */

body
{
    background: black;
}
header
{
    top: 0;
    left: 0;
}

.contenedor-nav
{
    width: 100%;
    height: 100px;
    background-size: cover;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 100px;
    border-bottom: 1px solid var(--plomo) ;
}
.logo
{
    max-height: 60px;
}
ul
{
    display: flex;
    top: -8%;
   
}
nav ul li
{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a
{
    color: white;
    position: relative;
    padding: 5px 0;
    font-weight: 500;
}
nav ul li a:hover
{
    color: red;
}
nav ul li a:after
{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--borde-gris-MO);
    transition: .3s;
    bottom: 0;
}
nav ul li a:hover:after
{
    width: 100%;
}

a
{
    text-decoration: none;
}


.buscador
{
    display: flex;
    width: 250px;
    height: 40px;
    background: white;
    border-radius: 30px;
    padding: 5px 5px;
    margin-left: 10px;
    position: relative;
    right: 40px;
}

.buscador i
{
    display: flex;
    align-items: center;
    line-height: 40px;
    font-size: 25px;
    color: black;
    margin-right: 50px;
}

.buscador input
{
    background: transparent;
    outline: none;
    border: 0;
    font-size: 16px;
    width: 200px;
    font-weight: 500;
}

.botones
{
    position: relative;
    right: 40px ; 
}

.botones .boton1
{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 35px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ffffff;
    border: 1px solid white;
    background-image: url(..//img/Pixel\ Art\ Aesthetic\ Chandigarh\ City.gif);
    background-size: 130px;
    background-repeat: no-repeat;
}
.boton1:hover
{
    background-image: url(..//img/pixel-goust-2.gif);
    background-size: 130px;
    background-repeat: no-repeat;
    border-color: white;
    color: white;
}

.boton2
{
    color: #e4dada;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 12px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #222121;
    border: 0.5px solid white; 
    margin: 0 45px 0 45px;
}
.boton2:hover
{
    background: transparent;
    border-color: white;
    color: white;
}

.contenido
{
    position: absolute;
    top: 35%;
    left: 8%;
}
.contenido .titulo
{
    color: #1f1f25;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    background: var(--degradado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contenido h1
{
    color:  var(--fondo-blanco);
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
}
.contenido h1 span
{
    color: var(--rojo);
}
.contenido p
{
    
    width: 55%;
    color: var(--fondo-blanco);
    margin-top: 25px;
    margin-bottom: 30px;
}

.contenido .btn
{
    position: relative;
    right: 5px ; 
}


.contenido  .btn .btn1
{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ffffff;
    border: 1px solid white;
    background: var(--fondo-blanco);
    background-size: 130px;
    background-repeat: no-repeat;
}
.contenido .btn .btn1:hover
{
    background: var(--negro);
    background-size: 130px;
    background-repeat: no-repeat;
    border-color: white;
    color: white;
}



.contenido  .btn .btn2
{
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 20px 20px;
    border-radius: 500px;
    font-weight: 500;
    transition: all .4s ease-in-out;
    background: #ffffff;
    border: 1px solid white;
    background: var(--fondo-blanco);
    background-size: 130px;
    background-repeat: no-repeat;
    margin:0 10px;
}
.contenido .btn .btn2:hover
{
    background: var(--negro);
    background-size: 130px;
    background-repeat: no-repeat;
    border-color: white;
    color: white;
}

section
{
    min-height: 99vh;
    padding: 100px 9%;
    padding-top: 10.5rem;
    padding-bottom: 2rem; 
}

.fondo img
{
    width: 100%;
    height: 0 9%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    z-index: -1;
}
 .caja-recomendado
{
    width: 100%;
    min-height: 40vh;
    top: 0;
    background: black;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid var(--plomo);
}

.caja-recomendado .title
{
    text-align: center;
    color: #1f1f25;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    background: var(--degradado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 30px;
    color: #6a6a6a;
    margin-top: -60vh;
    margin-right: 0vh;
}

.contenedor
{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: -30vh;
    float: margin;
}

.contenedor .caja
{
    width: 200px;
    height: 290px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}



.contenedor .caja img
{
    width: 330px;
    height: 430px;
    background-size: c;
}

.Lista
{
   width: 100%;
   background: black;
   border-bottom: 1px solid var(--plomo) ;
   
}

.Lista h1
{
    color: #1f1f25;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    display: inline-block;
    background: var(--degradado2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 30px;
    color: #6a6a6a;
    margin-top: -600vh;
    margin-right: 0vh;
}

.Lista .contenedor-t
{
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-gap: 10px;
    padding: 0px 5px;
}



.Lista .contenedor-t .caja-t:hover
{
    transform: translateY(-15px);
    width: 400px;
    height: 600px;
}

.Lista .contenedor-t .caja-t
{
    display: flex;
    width: 400px;
    height: 600px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    align-items: flex-end;
}

.Lista .contenedor-t .caja-t img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.Lista .contenedor-t .caja-t .letras
{
    width: 400px;
    border-radius: 500px;
    margin: 40px 0px;
    font-size: 20px;
    font-weight: 800;
    color: white;
    background: var(--fondo-blanco);
    position: absolute;
    
}

.fondo
{
    width: 100%;
    height: 0 9%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    z-index: -1;
}

/* FOOTER */

.footer
{
    padding-top: 3rem;
    background: black;
    background-size: cover;
    background-position: center;
}


.footer .creditos
{
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: .1rem;
    color: var(--plomo);
    border-top: .1rem solid var(--plomo);
    padding: .5rem 1rem;
    text-align: center;
}